#container
{
	position:relative;
	width:100%;
	height:auto;
}
#container > ul
{
	position:relative;
	list-style:none;
	margin:0px;
	padding:0px;
	height:300px;
	overflow:hidden;
	border-right:3px solid rgb(127, 100, 38);
	box-shadow:-5px 0px 25px 1px black;
}
#container > ul > li
{
	position:absolute;
	width:100%;
	background:url('../image/content-back.png');
	box-shadow:-5px 0px 25px 1px black;
	border:2px solid rgb(127, 100, 38);
}
.pic
{
position:absolute;left:0px;
	height:300px;
	width:200px;
	background-size:100% 100%;
	cursor:pointer;
}
.content
{
margin-left:200px;height:300px;padding:20px;font-size:14px;width:200px;text-align:justifymargin-left:200px;height:300px;padding:20px;font-size:14px;width:200px;text-align:justify
}
