#gallery
{
	position:relative;
	margin:auto;
	margin-top:60px;
	width:100%;
	height:400px;
}

.wrap
{
-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -ms-touch-action: none;
    overflow:hidden;
    position:relative;
    background-image:url('background.png');
    background-position: center;
    width:100%;
    padding-bottom:35%;
}
.item
{
    position:absolute;
    /* These sizes are from the examples - change as appropriate */
    width:188px;
    height:250px;
    -webkit-tap-highlight-color:rgba(0,0,0,0); 
    visibility:hidden;
}
