body
{
	margin:0px;
}
#nav
{
	border-bottom:1px solid #bbb;
}
#sharda_logo
{
	position:absolute;
	left:200px;
	top:55px;
	background:url('../Logo.png') no-repeat;
	background-size:100%;
	background-position:0px 0px;	
	width: 220px;
	height:70px;font-size:14px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	z-index: 999;
	cursor:pointer;
}
#chorus_logo
{
	position:absolute;
	left:-350px;
	top:20px;
	width: 220px;
	background:url('../chorus1.png') no-repeat;
	background-size:100%;
	background-position:0px 0px;
	height:100px;font-size:14px;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	z-index: 999;
	cursor:pointer;
}
#header_bg
{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	min-width:800px;

}
#tl
{
	position:absolute;
	top:0px;
	left:0px;
	background:url('../image/bg_main_top_left.jpg') no-repeat;
	width:257px;
	height:203px;
	z-index:-3;
}
#tr
{
	position:absolute;
	top:0px;
	right:0px;
	background:url('../image/bg_main_top_right.jpg') no-repeat;
	width:257px;
	height:203px;
	z-index:-3;
}
#carniv
{
	position:absolute;
	top:0px;
	left:-110px;
	background-image:url('../image/bg_woman.jpg');
	background-size:100% 100%;
	background-repeat:no-repeat;
	width:235px;
	height:130px;
}
#cl1{background-image:url('../image/bg_woman.jpg');}
#cl2{background-image:url('../image/bg_2.jpg');}
#cl3{background-image:url('../image/bg3.jpg');}
#cl4{background-image:url('../image/bg4.jpg');}
#cl5{background-image:url('../image/bg5.jpg');}
#cl6{background-image:url('../image/bg6.jpg');}
