<div class="page" ng-class="backgroundColor()">
	<!-- Header -->
	<header id="header" class="page-topbar">
        <!-- start header nav-->
        <div class="navbar-fixed">
            <nav class="navbar-color" ng-class="navBackgroundColor()">
                <div class="nav-wrapper">
            		
            		<div class="valign-wrapper" style="height:100%;">
            		<div class="waves-effect waves-light" ng-click="goPreviousPage('home')" style="padding:5px;position: absolute;">
            		<img class="img-responsive center valign" style="width:40px" src="image/ic_arrow_back_white_48px.svg" alt="Strap">
            		</div>
            			<h1 style="font-size:20px;width:100%" class="center-align valign">Offers</h1>
            		</div>
                </div>
            </nav>
        </div>
        <!-- end header nav-->
    </header>
	<main style="overflow-y: auto;display:block;height:100%;position: relative;">
		<div class="container" style="margin-bottom: 70px;margin-top:30px">
			<!--<div class="card waves-block waves-effect">
				<div class="card-content">
					Buy 100 Dabur Honey, Get 50 Dabur Honey Free
				</div>
			</div>
			<div class="card waves-block waves-effect">
				<div class="card-content">
					Get 10% discount on any purchase more than &#8377 5000
				</div>
			</div>
			<div class="card waves-block waves-effect">
				<div class="card-content">
					<div class="row">
						<div class="col s-4">
							<img src="image/ic_arrow_back_white_48px.svg" width="100%">
						</div>
						<div class="col s-6">
							<div class="row">
								Dabur Dant Manjan
							</div>
							<div class="row">
								Dabur Dant Manjan
							</div>
						</div>
					</div>
				</div>
			</div>-->
			<ul class="collection">
			    <li class="collection-item avatar" style="padding-left:100px;min-height: 100px">
			      <img src="image/real.jpg" alt="" class="circle" style="width:70px;height:initial;max-height:80px">
			      <span class="title">Dabur Real Active</span>
			      <p>10% Discount<br>
			         Valid Till : 30th April 2017
			      </p>
			    </li>
			    <li class="collection-item avatar" style="padding-left:100px;min-height: 100px">
			      <img src="image/babool.jpg" alt="" class="circle" style="width:70px;height:initial;max-height:80px">
			      <span class="title">Dabur Babool</span>
			      <p>Buy 1, Get 1 Free<br>
			         Valid Till : 30th April 2017
			      </p>
			    </li>
			    <li class="collection-item avatar" style="padding-left:100px;min-height: 100px">
			      <img src="image/amla.jpg" alt="" class="circle" style="width:70px;height:initial;max-height:80px">
			      <span class="title">Dabur Amla Hair Oil</span>
			      <p>Buy 1 Get Dabur Vatika Sampoo free<br>
			         Valid Till : 30th April 2017
			      </p>
			    </li>
			  </ul>
		</div>
	</main>
	<footer></footer>
</div>